/* debug */

/* [class*="col-"]{
    flex: 0 0 auto;
    background-color: rgb(32, 95, 190);
    color: #fff;
    min-height: 50px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
} */

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}


.filter-menu:hover .filter-menu-item:hover, .menu-item:hover{
    color: #fff;
    cursor: pointer;
}

.vertical-menu{
    width: 300px;
    background-color: #000000;
}


.upgrade-banner{
    background-color: #070b12;
    height: 85px;
}

a:hover{
    color: #fff;
}


/* fine debug */

/***************************************
                Flex rules
***************************************/

.d-flex{
    display: flex;
}

.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.space-between{
    justify-content: space-between;
}


.h-100{
    height: 100%;
}

.upper-section{
    width: 100%;
    height: calc(100vh - 150px);
    display: flex;
}

.card-container{
    padding: 16px 24px;
}

footer{
    background-color: #282828;
    height: 150px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

.contenitore{
    width: calc(100% - 300px);
    overflow: auto;
    height: 100%;
    background-color: #141922;
}


.text-center{
    text-align: center;
}

.btn{
    color: #fff;
    padding: 8px 36px;
    border: 1px solid #fff;
    border-radius: 50px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}

ul{
    list-style-type: none;
    margin-top:0px;
    padding:0px;
}

h1, h2, h3, h4, h5, h6{
    color: #fff;
    font-weight: 600;
    padding: 8px 0px;
    margin: 0px;
}

.card-container ul li{
    display: inline-block;
    margin: 0px 8px;
}


/* Menu verticale */
.vertical-menu{
    color: #a6a6a6;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


img{
    width: 100%;
}

.logo{
    padding: 16px;
    max-width: 190px;
}

.main-menu img, .user-info img{
    max-width: 24px;
}

.menu-item{
    display: flex;
    align-items: center;
}

.main-menu span, .playlist-menu li:nth-child(2) span{
    margin-left: 8px;
}

.playlist-menu li{
    padding: 8px 0px;
}

.playlist-menu i{
    font-size: 36px;
}

.main-menu li, .vertical-menu ul:last-child, .user-info{
    padding: 8px 16px;
}

.user-info span{
    margin-left: 16px;
}

.user-info .menu-item:first-child i{
    font-size: 12px;
}

.user-info .menu-item:last-child i{
    font-size: 24px;
}

.main-menu li:first-child{
    padding: 8px 16px;
    border-left: 4px solid #adff30;
}

/* fine menu verticale */


.filter-menu .filter-menu-item{
    color: #686b70;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    position: relative;
}


.filter-menu-item.underline:after{ 
    content: "";
    position: absolute;
    background-color: #adff30;
    height: 2px;
    width: 40px;
    bottom: -7px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.song-card{
    padding: 8px;
}

.contenitore h5{
    color: #686b70;
    padding: 0px;
}

.contenitore .container{
    padding: 28px 0px;
}

.contenitore .row:not(.upgrade-banner .row){
    margin-top: 24px;
}

footer .track-thumbnail{
    max-width: 36px;
    margin-right: 8px;
}

footer h5, footer h6{
    padding: 2px 0px;
}

footer [class*="col-"]{
    padding: 16px;
}

.track-preview i{
    color: #686b70;
    font-size: 18px;
    margin-left: 8px;
}


.player-btns *{
    padding: 0px 16px;
    color: #fff;
    font-size: 36px;
}

.player-btns i:nth-child(3){
    font-size: 54px;
    transition: 0.2s;
}

.player-btns i:nth-child(3):hover{
    scale: 1.1;
}

.track-player .player-bar{
    width: 50%;
    height: 4px;
    border-radius: 10px;
    background-color: #686b70;
    margin: 0 auto;
    position: relative;
}

.track-player .player-bar:before {
    content: "0:25";
    position: absolute;
    left: -49px;
    top: -7px;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
}

.track-player .player-bar:after {
    content: "4:35";
    position: absolute;
    right: -49px;
    top: -7px;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
}

.player-btns {
    margin-bottom: 28px;
}

.track-preview.d-flex.align-center.space-between, .systems-btns {
    top: 50%;
    position: relative;
    transform: translate(0%, -50%);
}

.systems-btns i{
    color: #fff;
    font-size: 18px;
    margin-right: 8px;
}

.volume-bar{
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background-color: #686b70;
    position: relative;
}